/* Enter your custom styles here */

.listSizing {
	width: 25rem !important;
	overflow: scroll;
	height: 28rem;
}
.globalMargin {
	margin: 0rem 4rem;
}

.headerList {
	width: 11rem !important;
	font-size: 1.5rem;
	padding: 0.6rem;
}

.textAlign {
	text-align: center;
}

.list-align {
	position: absolute;
	right: 1rem;
	width: 7rem;
	bottom: 11rem;
}

.list-align:hover {
	border: 0.2rem solid skyblue;
	transition: all 1s ease-in;
	transition-duration: 1s;
	transition-timing-function: linear;
}

.button-align {
	position: absolute;
	right: 0.5rem;
	top: 0.1rem;
}
.aboutButton{
	animation: blinker 3s ease-in-out infinite;
}
@keyframes blinker {
    50% {
      opacity: 0;
    }
  }
.about {
	height: 3rem;
	width: 3rem;
	margin: 0 2.5rem;
	transition: transform 0.5s linear;
	position: absolute;
	right: -17.5rem;
	bottom: 25rem;
	border-left: 1.3rem solid skyblue;
}

.about:hover {
	cursor: pointer;
	border-left: 0rem solid skyblue;
}

.aboutShow:hover {
	transform: translateX(-16rem);
	border-left: 0rem solid skyblue;
}
.linkButton {
	width: 7rem !important;
	margin: 0.5rem 29.5rem;
}

.infoButton {
	width: 4rem !important;
	margin: 0rem 0rem 0rem 19rem;
}
.tileLayout {
	float: left;
}
.cardLayout{
    width:18rem !important;
    height: 12rem !important;
    margin: 0rem 4rem;
}
.cardsStyle{
    margin: 10% 23%;
}
